<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Runway Shirts</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
<body class="bg-black">
    <form method="POST">
        {% csrf_token %}
        <div class="space-y-4">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Delivery Details</h2>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div>
                    <label for="your_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                    Your name
                    </label>
                    <input
                    type="text"
                    id="your_name"
                    name="first_name"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                    placeholder="Bonnie Green"
                    required
                    />
                </div>
                <div>
                    <label for="your_email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                    Your email*
                    </label>
                    <input
                    type="email"
                    id="your_email"
                    name="email"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                    placeholder="name@flowbite.com"
                    required
                    />
                </div>
                <div>
                    <div class="mb-2 flex items-center gap-2">
                    <label for="select-state-input-3" class="block text-sm font-medium text-gray-900 dark:text-white">
                        State*
                    </label>
                    </div>
                    <select
                    id="select-state-input-3"
                    name="state"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                    >
                    <option value="">Select State</option>
                    <option value="AS">Australia</option>
                    <option value="FR">France</option>
                    <option value="ES">Spain</option>
                    <option value="UK">United Kingdom</option>
                    </select>
                </div>
                <div>
                    <div class="mb-2 flex items-center gap-2">
                    <label for="select-city-input-3" class="block text-sm font-medium text-gray-900 dark:text-white">
                        City*
                    </label>
                    </div>
                    <select
                    id="select-city-input-3"
                    name="city"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                    >
                    <option value="">Select City</option>
                    <option value="San Francisco">San Francisco</option>
                    <option value="New York">New York</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Houston">Houston</option>
                    </select>
                </div>
                <div class="col-span-2">
                    <label for="address" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                    Address*
                    </label>
                    <textarea
                    id="address"
                    name="address"
                    class="min-h-[100px] block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 resize-none"
                    required
                    ></textarea>
                </div>
                <div>
                    <label for="pincode" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                    Zip*
                    </label>
                    <input
                    type="text"
                    id="pincode"
                    name="zip"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                    placeholder="000000"
                    required
                    />
                </div>
                <div>
                    <label for="phone-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                    Phone Number*
                    </label>
                    <div class="flex items-center">
                    <select
                        id="phone-input-3"
                        class="mr-2 flex-shrink-0 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                    >
                        <option>IN</option>
                        <option>US</option>
                        <option>CA</option>
                        <option>FR</option>
                    </select>
                    <input
                        type="tel"
                        id="phone-input-3"
                        name="phone"
                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                        placeholder="212-999-0000"
                    />
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6">
        <button
            type="submit"
            class="w-full rounded-lg bg-primary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 dark:bg-primary-700 dark:hover:bg-gray-600 dark:focus:ring-primary-600 border border-2 "
            >
            Add Address
        </button>
        </div>
    </form>
</body>
</html>